body{
    border: 1px black solid;
}
.TITLE{
    color: red;
    text-align: center;
}
.conteneur{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    position: relative;
    min-width:200px;
    min-height: 200px;
}
#div1{
    background-color: rgb(67, 65, 165);
}
#div2{
    background-color: rgb(4, 247, 247);
}
#div3{
    background-color: brown;
}

#div4{
    background-color: rgb(42, 165, 138);
}
#div5{
    background-color: rgb(141, 46, 179);
}
#div6{
    background-color: rgb(141, 46, 179);
}