body{
    border: 1px black solid;
}
.TITLE{
    color: red;
    text-align: center;
}
.box{

}
#div1{
    background-color: rgb(67, 65, 165);
    height: 100px;
    width: 100px;
    margin:0px;
    display: block;
}
#div2{
    background-color: rgb(4, 247, 247);
    height: 100px;
    width: 100px;
}
#div3{
    background-color: brown;
    height: 100px;
    width: 100px;
}